.fof-container{
    position: absolute;
    text-align: center; 
    margin-top: 3.5rem; 
    font-size: 1.5rem;
    text-wrap: balance;
    padding: 1rem 0;
}
.fof-container p{
    margin: auto;
    width: 80%;
    color:white;
    background-color: rgb(46, 119, 253);
    padding: 0.5rem;
    border-radius: 5px;
}
.fof-container img{
    width: 50%;
}